body {
    margin: 0;
    padding: 15px;
    font-family: Arial, sans-serif;
    background: #e8d3a2;
    color: #333;
}


header {
    text-align: center;
}


h1 {
    font-size: 26px;
    color: #8b0000;
}


.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


button {
    padding: 10px 15px;
    border-radius: 10px;
    border: 2px solid #8b5a2b;
    background: #8b0000;
    color: white;
}


/* ตาราง */

#bingoBoard {

    display: grid;

    grid-template-columns: repeat(5, 1fr);

    gap: 5px;

    width: 90%;

    max-width: 500px;

    margin: 20px auto;

}


/* ช่อง */

.bingo-cell {

    aspect-ratio:1 / 1;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;


    background:#fff1c1;

    border:2px solid #8b5a2b;

    border-radius:8px;


    font-size:12px;

    font-weight:bold;


    padding:5px;

    overflow:hidden;

    word-break:break-word;


    /* ป้องกัน Safari เลือกข้อความ */

    -webkit-user-select:none;

    user-select:none;

    -webkit-touch-callout:none;

    touch-action:manipulation;

}


.bingo-cell.marked {

    background: #8b0000;

    color: white;

}


#bingoMessage {

    text-align: center;

    font-size: 35px;

    color: red;

}



@media(max-width:600px){

    #bingoBoard {

        width: 100%;

        max-width: 380px;

    }


    .bingo-cell {

        font-size: 10px;

    }

}
